@model EmekAkademisi.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortAnswer" class="control-label"></label>
                <input asp-for="ShortAnswer" class="form-control" />
                <span asp-validation-for="ShortAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailAnswer" class="control-label"></label>
                <textarea asp-for="DetailAnswer" class="form-control"></textarea>
                <span asp-validation-for="DetailAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourcePerson" class="control-label"></label>
                <input asp-for="SourcePerson" class="form-control" />
                <span asp-validation-for="SourcePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnsweredBy" class="control-label"></label>
                <input asp-for="AnsweredBy" class="form-control" />
                <span asp-validation-for="AnsweredBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="References" class="control-label"></label>
                <input asp-for="References" class="form-control" />
                <span asp-validation-for="References" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
